.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  line-height: 4;
}

.hidden {
  display: none;
}

.error {
  color: salmon;
  margin-left: 1rem;
}

.inputError {
  background-color: salmon;
}
