.error {
  background-color: #ff000052;
}

.hidden {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0c4ff;
  border: 10px solid rgba(0, 0, 0, 0.747);
}

.heading {
  text-align: center;
}

.button {
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
}

.button:hover {
  background-color: #9bf6ff;
}
